@charset "utf-8";

*{margin: 0;padding: 0;}
body,html{width: 100%;-ms-overflow-style: none;font-family: 'Noto Sans KR',arial,sans-serif;}
::-webkit-scrollbar{display: none;}
ul{list-style: none;}
a{text-decoration: none;}
label,button,input{background-image: none;outline: none;border: none;background-color: transparent;}